* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Überschrift */
h1 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 15px;
}

/* Stil für die Karte des Kantons Thurgau */
#municipalities path {
    position: relative;
    fill: darkgreen;
    stroke: rgb(204, 204, 0);
}

#municipalities path:hover {
    fill: rgb(17, 173, 14);
}

#lakes path {
    fill: rgb(51, 102, 255);
    stroke: darkblue;
}

/* Stil für die Diagrammgröße der Karte */
#tg-map {
    width: 60%;
    padding-left: 10%;
    padding-bottom: 20%;
}

/* Stil für das Tooltip-Element der Karte */
#tooltip-map {
    position: absolute;
    padding: 10px;
    background: #9b83a8;
    color: #000000;
    border-radius: 8px;
    pointer-events: none;
}

/* Stil für die Diagrammbereiche */
.charts {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
    align-items: center;
    position: relative;
}

/* Stil für die Auswahlliste der Jahre */
select {
    width: 85px;
    margin-bottom: 1%;
}

/* Positionierung der Auswahlliste für das Diagramm "Parteistimmen in ganz Thurgau" */
.charts select.left {
    left: 2%;
    top: 3%;
}

/* Positionierung des rechten Abschnitts im Diagramm "Stimme nach Parteien in den Gemeinden" */
.charts .right {
    position: absolute;
    margin-left: 100%;
    top: 20%;
}

/* Gemeinsamer Stil für alle Diagrammbereiche */
.charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Stil für die Diagramm-Canvas */
.charts canvas {
    max-width: 100%;
    max-height: 100%;
}

/* Stil für die Überschriften der Diagramme */
h2 {
    margin-bottom: 1%;
}

/* Stil für die Liste der Gemeinden */
.gemeinden-liste {
    height: 300px; /* Höhe der Liste anpassen */
    overflow: auto; /* Scrollen aktivieren */
    background-color: #f2f2f2; /* Hintergrundfarbe der Liste */
    padding: 10px; /* Innenabstand der Liste */
}

.gemeinden-liste ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gemeinden-liste li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer; /* Zeiger-Cursor für Listenelemente */
}

.gemeinden-liste li:hover {
    background-color: #9b83a8; /* Dunklerer Hintergrund beim Hover */
}

/* Zentrierter Text für die Suchliste */
.searchList {
    text-align: center;
}

.gemeinden-liste li:last-child {
    border-bottom: none;
}

/* Individuell gestaltete Scrollbar für die Gemeindenliste */
.gemeinden-liste::-webkit-scrollbar {
    width: 8px; /* Breite der Scrollbar */
}

.gemeinden-liste::-webkit-scrollbar-thumb {
    background-color: #888; /* Farbe des Scrollbar-Thumb */
}

.gemeinden-liste::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* Hintergrundfarbe des Scrollbar-Tracks */
}

/* Stil für geklickte Elemente in der Gemeindenliste */
.clicked {
    background-color: #9b83a8;
}

/* Stil für die Auswahllisten im Diagramm "Vergleich der Verläufe zweier Parteien" */
.lineChartDrop {
    align-items: baseline;
}

/* Stil für geklickte Elemente in den Auswahllisten */
.clickedLine {
    background-color: #9b83a8;
}
